{% extends 'main/lecturer_base.html' %}
{% block title %}
	Detail Page
{% endblock %}
{% block body %}
	{% if request.user.supervisor == report.supervisor %}
		<a href="{% url 'report_process' report.id %}" class="btn btn-secondary mt-3">Process Report</a>
	{% endif %}	
		<h4 class="lead text-center"><b>{{report.title}}</b></h4>	
		<a href="{{report.file.url}}" class="lead">Download file</a>
		<hr />
		<p>Report Status:  {{report.status}}</p>		
		<h5 class="lead">Supervisor Remarks</h5>
		<p>{{report.supervisor_remarks}}</p>
{% endblock %}