{% extends 'main/lecturer_base.html' %}
{% block body %}
	<!-- {% for report in processed_reports %}
    <a href="{% url 'report_detail' report.id %}">{{report.name}}</a>
    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Status</th>
      <th scope="col">Supervisor</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">*</th>
      <td><a href="{% url 'report_detail' report.id %}">{{report.title}}</a></td>
      <td><a href="{% url 'report_detail' report.id %}">{{report.status}}</a></td>
    </tr>
  </tbody>
</table>
  {% endfor %} -->

  		<table class="table">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Chapter</th>
		      <th scope="col">Status</th>
		      <th scope="col">Student</th>
		      <th scope="col">Supervisor</th>
		      <th scope="col">Project Title</th>
		    </tr>
		  </thead>
		  <tbody>
	{% for report in reports %}						  	  	
		    <tr>
		    	<td>*</td>
		      <td><a href="{% url 'detail_report' report.id %}">{{report.title}}</a></td>
		      <td>{{report.status}}</td>
				<td>{{report.student}}</td>			
		      <td>{{report.supervisor}}</td>
		      <td>{{report.student.profile.project_title}}</td>
		    </tr>
	{% endfor %}								  
		  </tbody>
		</table>	
{% endblock %}